/* #region reset default styles */


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input:focus-visible {
    border: none;
}
/* #endregion */

/*#region fonts*/
@font-face {
    font-family: NotoSans;
    src: url(fonts/NotoSans-Medium.ttf) format('truetype'),
         url(fonts/NotoSans-Bold.ttf) format('truetype'),
         url(fonts/NotoSans-Italic.ttf) format('truetype'),
         url(fonts/NotoSans-Black.ttf) format('truetype'),
         url(fonts/NotoSans-Light.ttf) format('truetype'),
         url(fonts/NotoSans-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: NotoSans;
    src: url(fonts/NotoSans-Bold.ttf) format('truetype');
    font-weight: 700;
  }
  @font-face {
    font-family: NotoSans;
    src: url(fonts/NotoSans-Italic.ttf) format('truetype');
    font-style: italic;
  }
  @font-face {
    font-family: NotoSans;
    src: url(fonts/NotoSans-Black.ttf) format('truetype');
    font-style: 900;
  }
  @font-face {
    font-family: NotoSans;
    src: url(fonts/NotoSans-Light.ttf) format('truetype');
    font-style: 300;
  }
  @font-face {
    font-family: NotoSans;
    src: url(fonts/NotoSans-Regular.ttf) format('truetype');
    font-style: 400;
  }
/* #endregion */


html,
body,
.page,
.imageContainer,
.mainContainer {
    height: 100%;
}
.page{
    display: flex;
}
.margin{
    background-color: black;
    width: 17rem;
    flex: 1 10000 0px;
}
.imageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 10000 1 0;
    max-width: 30rem;
    background-image: url(images/background.jpg) ;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 3;
}
.logo{
    height: 20rem;
    width: 25rem;
    margin-top: 4rem;
}
.credit{
    font-family: NotoSans;
    margin-bottom: 1rem;
    color: rgb(32, 32, 32);
}
.mainContainer{
    width: 55rem;
}

.propositionContainer{
    background-color: rgb(245, 245, 245);
    height: 19rem;
    position: relative;
    z-index: 1;
}
.proposition{
    font-family: NotoSans;
    font-weight: bold;
    font-size: 1.4rem;
    padding: 6rem 7rem 0 4rem;
    line-height: 1.9rem;
    max-height: 13rem;
    overflow: hidden;
}
.formContainer{
    height: 22rem;
    box-shadow: 0 4px 10px rgb(177, 177, 177);
    position: relative;
    z-index: 2;
}
legend {
    padding: 1rem 0 2rem 3rem;
    font: 1.8rem NotoSans;
    font-weight: 700;
}
label {
    font: 0.7rem NotoSans;
    font-weight: 700;
    letter-spacing: 1.9px;
    margin-bottom: 0.3rem;
}
form{
    max-width: 45rem;
}
fieldset {
    display: flex;
   
    margin: 0 0 1.8rem 3rem;
}
.inputContainer {
    display: flex;
    flex-direction: column;
}
input {
    height: 1.5rem;
    width: 17rem;
    margin-right: 3rem;
}
.submitContainer{
    height: auto;
    background-color: rgb(245, 245, 245);
    position: relative;
    z-index: 1;
}
button {
    margin: 2rem 0 0 3rem;
    padding: 0.7rem 2.5rem 0.7rem 2.5rem;
    background-color: pink;
    font: 1.1rem NotoSans;
    font-weight: bold;
    border-radius: 10px;
    border: none;
}
em {
    font-style: italic;
}
.linkContainer{
    font: 1.2rem NotoSans;
    padding: 2rem 0 0 3rem;
}
a {
   text-decoration: none;
    color:rgb(255, 113, 136);
    font-weight: 900;
}